@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700&display=swap&subset=latin-ext');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    color: white;
}

.wrapper {
    max-width: 414px;
    overflow: hidden;
    background-image: url(./img/rain-4559068_640.jpg);
    background-size: cover;
}

header h1 {

    text-align: center;
    font-size: 28px;
    padding: 10px 0;
}

@media (min-width: 415px) {
    .wrapper {
        max-width: 1023px;
        min-height: 100vh;
        background-image: url(./img/rain-4559068_1280.jpg);
    }

    header h1 {
        padding: 25px;
        font-size: 40px;
    }
}

@media (min-width: 1024px) {
    .wrapper {
        max-width: 1400px;
        height: 100vh;
    }

    header h1 {
        padding: 30px;
        font-size: 54px;
    }
}